<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
</head>
<body>
    <h2>Admin Panel</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Bio</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.bio %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
